@model _06ADOnet.Models.Customers

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger">刪除資料</h2>

<h3 class="alert alert-danger text-center">請確認下列資料內容是否刪除？</h3>
<hr />
<div class="well">

    <div class="panel panel-danger">

        <div class="panel-heading">
            <h3>@Html.DisplayFor(model => model.CompanyName)</h3>
        </div>


        <div class="panel-body">
            <h2 class="text-center">@Html.DisplayFor(model => model.ContactName)</h2>
            <p class="text-center">@Html.DisplayFor(model => model.ContactTitle)</p>
        </div>

        <div class="panel-footer">
            <p>
                @Html.DisplayNameFor(model => model.Address):
                @Html.DisplayFor(model => model.Address)
                @Html.DisplayFor(model => model.City)
                @Html.DisplayFor(model => model.PostalCode)
                @Html.DisplayFor(model => model.Country)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.Fax): @Html.DisplayFor(model => model.Fax)
            </p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="確定刪除" class="btn btn-danger" /> |
            @Html.ActionLink("回客戶資料列表", "Index")
        </div>
    }
</div>
