@model _06ADOnet.Models.Customers

@{
    ViewBag.Title = "Details";
}

<h2>客戶詳細資料</h2>
<hr />
<div class="well">

    <div class="panel panel-info">

        <div class="panel-heading">
            <h3>@Html.DisplayFor(model => model.CompanyName)</h3>
        </div>


        <div class="panel-body">
            <h2 class="text-center">@Html.DisplayFor(model => model.ContactName)</h2>
            <p class="text-center">@Html.DisplayFor(model => model.ContactTitle)</p>
        </div>

        <div class="panel-footer">
            <p>
                @Html.DisplayNameFor(model => model.Address):
                @Html.DisplayFor(model => model.Address)
                @Html.DisplayFor(model => model.City)
                @Html.DisplayFor(model => model.PostalCode)
                @Html.DisplayFor(model => model.Country)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.Fax): @Html.DisplayFor(model => model.Fax)
            </p>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("回客戶資料列表", "Index")
</p>
