@model OnlineToss.Models.Employees

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger mt-3">刪除員工資料</h2>
<hr />
<h3 class="alert alert-danger text-center">請確認下列資料內容是否刪除？</h3>
<hr />
<div class="card">
    <div >
        
        <div class="card card-heading">

            <div class="panel-heading bg-danger">
                <h3 class="text-center">@Html.DisplayFor(model => model.EmpID) | @Html.DisplayFor(model => model.EmpName) </h3>
            </div>
            <div class="card-body border-danger">
                @*<dt>
                        @Html.DisplayNameFor(model => model.EmpID):@Html.DisplayFor(model => model.EmpID)
                    </dt>*@
                @*<dt>
                        @Html.DisplayNameFor(model => model.EmpName) : @Html.DisplayFor(model => model.EmpName)
                    </dt>*@

                <div>
                    @Html.DisplayNameFor(model => model.Gender) : @*@Html.DisplayFor(model => model.Gender)*@
                    @{
                        var gender = Model.Gender == true ? "女" : "男";
                    }
                    @Html.DisplayFor(model => gender)
                </div>


                <div>
                    @Html.DisplayNameFor(model => model.Phone) : @Html.DisplayFor(model => model.Phone)
                </div>

                <div>
                    @Html.DisplayNameFor(model => model.Address) : @Html.DisplayFor(model => model.Address)
                </div>

                <div>
                    @Html.DisplayNameFor(model => model.Birthday) : @Html.DisplayFor(model => model.Birthday)
                </div>

                <hr />

                <div>
                    @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.Account) : @Html.DisplayFor(model => model.Account)
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.Password) : @Html.DisplayFor(model => model.Password)
                </div>


            </div>

            <hr />
            <div class="container">
                <div class="panel-footer ">
                    <div>
                        @Html.DisplayNameFor(model => model.Salary) : @Html.DisplayFor(model => model.Salary)
                    </div>

                    <div>
                        @Html.DisplayNameFor(model => model.Bdate) : @Html.DisplayFor(model => model.Bdate)
                    </div>

                    <div>
                        @Html.DisplayNameFor(model => model.Notes) : @Html.DisplayFor(model => model.Notes)
                    </div>

                    <div>
                        @Html.DisplayNameFor(model => model.Manager) : @Html.DisplayFor(model => model.Manager)
                    </div>

                </div>
            </div>




        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color my-3 text-right bg-light">
            <input type="submit" value="確定刪除" class="btn btn-danger" />   
            <div class="btn btn-outline-danger text-danger">@Html.ActionLink("回員工選單", "Index") </div>
        </div>
    }
</div>
