@model OnlineToss.Models.Employees

@{
    ViewBag.Title = "員工詳細資料";
}

<h3 class="mt-3">員工詳細資料</h3>

<div>
    @*<h3>@Html.DisplayNameFor(model => model.EmpID) @Html.DisplayFor(model => model.EmpID)</h3>*@
    <hr />
    <div class="card shadow panel-info ">

        <div class="card-header bg-info text-white shadow">
            <h3 class="text-center"><strong>@Html.DisplayFor(model => model.EmpID) | @Html.DisplayFor(model => model.EmpName) </strong></h3>
        </div>
        <div class="card-body border-info">
            @*<dt>
                @Html.DisplayNameFor(model => model.EmpID):@Html.DisplayFor(model => model.EmpID)
            </dt>*@
            @*<dt>
                @Html.DisplayNameFor(model => model.EmpName) : @Html.DisplayFor(model => model.EmpName)
            </dt>*@

            <div>
                @Html.DisplayNameFor(model => model.Gender) : @*@Html.DisplayFor(model => model.Gender)*@
                @{
                    var gender = Model.Gender == true ? "女" : "男";
                }
                @Html.DisplayFor(model => gender)
            </div>


            <div>
                @Html.DisplayNameFor(model => model.Phone) : @Html.DisplayFor(model => model.Phone)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Address) : @Html.DisplayFor(model => model.Address)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Birthday) : @Html.DisplayFor(model => model.Birthday)
            </div>

            <hr />

            <div>
                @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Account) : @Html.DisplayFor(model => model.Account)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Password) : @Html.DisplayFor(model => model.Password)
            </div>


        </div>


        <div class="card-footer ">
            <div>
                @Html.DisplayNameFor(model => model.Salary) : @Html.DisplayFor(model => model.Salary)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Bdate) : @Html.DisplayFor(model => model.Bdate)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Notes) : @Html.DisplayFor(model => model.Notes)
            </div>

            <div>
                @Html.DisplayNameFor(model => model.Manager) : @Html.DisplayFor(model => model.Manager)
            </div>

        </div>


    </div>
</div>
<div class=" my-3 ">
    <div class=text-right ">
        @Html.ActionLink("我要修改", "Edit", new { id = Model.EmpID }, new { @class = "btn btn-sm btn-info" }) |
        @Html.ActionLink("回員工列表", "Index")
    </div>
</div>