@model OnlineToss.Models.Orders

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger mt-3">刪除一筆訂單資料</h2>
<hr />
<h3 class="alert alert-danger text-center">請確認下列資料內容是否刪除？</h3>
<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members.MemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.MemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType.PayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType.PayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingMethod.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingMethod.ShipName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
