@model OnlineToss.Models.Toss

@{
    ViewBag.Title = "Details";
}

<h3 class="my-3">TOSS詩籤內容</h3>

<div>
    <h4>編號 |  @Html.DisplayFor(model => model.TossID)</h4>
    <hr />
    <div class="card shadow">
        <div class="card-body row">
            <div class="col-6 ">
                @*<strong >
                        @Html.DisplayNameFor(model => model.TossName)
                    </strong>*@

                <p class="text-center">
                    <strong style="font-size:2rem">
                        @Html.DisplayFor(model => model.TossName)
                    </strong>
                </p>
                <hr />

                <strong>
                    @Html.DisplayNameFor(model => model.Content)
                </strong>

                <p>
                    @Html.DisplayFor(model => model.Content)
                </p>

                <strong>
                    @Html.DisplayNameFor(model => model.Poetry)
                </strong>

                <p>
                    @Html.DisplayFor(model => model.Poetry)
                </p>

                <strong>
                    @Html.DisplayNameFor(model => model.Explain)
                </strong>

                <p>
                    @Html.DisplayFor(model => model.Explain)
                </p>

                <strong>
                    @Html.DisplayNameFor(model => model.Description)
                </strong>

                @*<p>
                        @Html.DisplayFor(model => model.Description)
                    </p>*@
                <div class="col-xs-12" style="margin-top:20px">
                    <p>@Html.Raw(Model.Description.ToString().Replace("\r\n", "<br>"))</p>

                </div>

            </div>

            <div class="col-6">
                <div class="text-center">
                    @if (Model.PhotoPath == null)
                    {
                        <i class="bi bi-journal-x text-danger text-center" style="font-size:10rem"></i>
                    }
                    else
                    {
                        <div class="text-center image-container"><img src="@Model.PhotoPath" class="img-thumbnail text-center" /></div>
                    }
                </div>
            </div>

            @*GTP<div>
                    @Html.DisplayNameFor(model => model.TPhoto)
                </div>

                <div>
                    @Html.DisplayFor(model => model.TPhoto)
                </div>*@
            @*<div class="text-right">
                    @Html.LabelFor(model => model.PhotoPath, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="text-center image-container">
                            <img src="@Url.Content(Model.PhotoPath)">
                        </div>
                    @Html.ValidationMessageFor(model => model.PhotoPath, "", new { @class = "text-danger" })
                </div>*@


            @*原碼<div>
                    @Html.DisplayNameFor(model => model.PhotoPath)
                </div>
                <div>
                    @Html.DisplayFor(model => model.PhotoPath)
                </div>*@



        </div>
    </div>


    @if (Session["Memp"] != null)//判斷是否有登入session
    {
        <p class="text-right my-3">
            @Html.ActionLink("修改詩籤", "Edit", new { id = Model.TossID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("回詩籤列表", "Index", new { @class = "btn btn-outline-primary" })
        </p>
    }

</div>


<div class="text-right"><a href="~/Toss_1to100.html"><i class="bi bi-arrow-bar-left"></i>回上一頁</a>  </div>


<style>
    .image-container {
        /*width: 150px;*/
        height: 700px;
        overflow: hidden;
    }

        .image-container img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
        }
</style>
