@model IEnumerable<OnlineToss.Models.Categories>

@{
    ViewBag.Title = "Index";
}


<h3 class="mt-3">TOSS類別管理</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CaName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CaName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CaID })
        </td>
    </tr>
}

</table>
