@model OnlineToss.Models.ShippingMethod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShippingMethod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShipID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
