<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 如果還有明天股份有限公司</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" /> @*//每一頁都會用到的才放入LAYOUT*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("css", false)

    
</head>
<body>
    <style>

       body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: linear-gradient(#D1E9E9, #81C0C0, #6FB7B7);
        }
    </style>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("如果還有明天", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("員工管理作業", "Index", "tEmployees")</li>
                    @*<li><a href="/tDepartments/Index">部門管理作業</a></li>*@
                    <li>@Html.ActionLink("部門管理作業", "Index", "tDepartments")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">Copyright &copy; @DateTime.Now.ToString("D") - 如果還有明天股份有限公司All Right Reserved.</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)@*引入函式庫寫法*@
    @*("scripts", false)會去@section scripts載入scripts,*@
    
</body>
</html>