@model IEnumerable<OnlineToss.Models.Products>

@{
    ViewBag.Title = "Index";
}

@section css{
    <style>
        #addProduct {
            display: none;
        }
    </style>
}

<h3 class="mt-3">TOSS商品管理</h3>

<p class="text-right">
    <button type="button" class="btn btn-primary my-3 " data-toggle="modal" data-target="#showCreateModal" onclick="getCreateData(event)">
        <i class="bi bi-plus-circle-fill "></i>     新增商品
    </button>
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.CaName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CaName)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.ProID }, new { @class = "btn btn-sm btn-info" })
                @Html.ActionLink("詳細", "Details", new { id = item.ProID }, new { @class = "btn btn-sm btn-warning" })
                @Html.ActionLink("刪除", "Delete", new { id = item.ProID }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>


<div class="modal fade" id="showCreateModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="exampleModalLabel">新增商品資料</h5>*@
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*@Html.Action("_Create")*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary"></button>*@
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>


        function getCreateData(evt) {

            $('#showCreateModal .modal-body').load("/Products/_Create");

        }

    </script>
}

